
<div class="col-md-8">
  <br><br>
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Enter shared key" aria-label="Search" aria-describedby="search-addon" #filter/>
      <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init (click)="getSharedkey(filter.value)">Search</button>
      <div class="space">
      </div>
      <button type="button" class="btn btn-primary" (click)="verBusq()">Advanced Search</button>
    
    </div>

    <ng-container *ngIf="visible">
      <div class="bg-white shadow-sm p-3">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
          />
        </div>
        <div class="form-group">
          <label for="nombre">Phone</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
          />
        </div>
        <div class="form-group">
          <label for="nombre">E-mail</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
          />
        </div>
        <div class="form-group">
          <label for="nombre">Start date</label>
          <mat-form-field class="form-control">
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="nombre">End date</label>
          <mat-form-field class="form-control">
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" >OK</button>
        </div>
      </div>
  </ng-container>
    
  </div>

<div class="col-md-6">
    <h4>Clients</h4>
</div>

<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="sharedkey">
        <th mat-header-cell *matHeaderCellDef> Shared Key </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.sharedkey}} </td>
      </ng-container>
      
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Business ID </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
      </ng-container>
  
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </td>
    </ng-container>

      <ng-container matColumnDef="fechainicio">
        <th mat-header-cell *matHeaderCellDef> Data Added </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.fechainicio | customDate}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> <i class="bi bi-pencil-fill"></i> </th>
        <td mat-cell *matCellDef="let j = index;">
          <button mat-raised-button color="warn" focusable="false" >
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
